.composition {

    display: grid;
    grid-template-columns: repeat(6, 5rem);
    grid-template-rows: repeat(5, 4rem);


    @include respond(phone) {
      display: flex;
    }
   

    &__photo {
        width: 100%;
        height: 100%;
        transition: all .5s;
    }
       

    &:hover {
        outline: 1rem solid $color-primary;
        transform: scale(1.05) translateY(-.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        z-index: 20;
    }

    

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

    


    

    /*&__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(tab-port) {
            float: left;
            position: relative;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
            width: 33.33333%;
        }
        @include respond(phone) {
            float: left;
            position: relative;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
            width: 33.33333%
        }

        &--p1 {
            left: 0;
            top: -2rem;
            @include respond(tab-port) {
                position: absolute;
                top: 0;
              
            }
            @include respond(phone) {
                position: absolute;
                top: 0;
                transform: scale(1.2);
                left: 3rem;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;
            @include respond(tab-port) {
                position: absolute;
                top: -1.5rem;
                left: 12rem;
                transform: scale(1.2);
                z-index: 100;
            }
            @include respond(phone) {
                position: absolute;
                top: -1.5rem;
                left: 8rem;
                transform: scale(1.4);
                z-index: 100;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;
            @include respond(tab-port) {
                position: absolute;
                top: 0;
                left: 15rem;
              
            }
            @include respond(phone) {
                position: absolute;
                top: 0;
                left: 12rem;
                transform: scale(1.2)
            }
        }

   


        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }*/
    
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    margin-left: 3rem;
}