.footer {

    &  .column-2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
        grid-template-rows: repeat(2, max-content);
        grid-gap: 3rem;
        padding: 2rem;

        @include respond(tab-port) {
            grid-template-columns: 1fr;
        }
        @include respond(phone) {
            font-size: 1rem;
        }
    }

    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;
    @include respond(tab-port) {
       padding: 8rem 0;
    }

    &__logo-box {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        width: 15rem;
        height: auto;
        
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        display: inline-block;
        @include respond(tab-port) {
            text-align: center;
            width: 100%;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        @include respond(tab-port) {
           padding: 1.5rem;
        }
    }
}